*{
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
body{
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  background-color: black;
  overflow:hidden;
}

/*****************FORMULAIRE*******/
form{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url("image/asteroide.png");
  background-position: center;
          background-repeat: no-repeat;
          background-size:contain;
  width: fit-content;
  height: fit-content;
  position:relative ;
  padding: 14rem;
  top: -100px;
  z-index: 1;
}
input, textarea{
  width: 15rem;
  margin :1rem 0;
}

input:valid{
  border-color: green;
}
input:invalid{
  border-color: red;
}
#buttonFormDiv{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: #222222;
  font-weight: bold;
  color: white;
  height:3rem ;
  width: 9rem;
  border:none;
  border-radius: 5rem;
}

#boutonFormImg{
  display: none;
  align-self: center;
  width: 2rem;
  height: 2rem;
}
#boutonFormImg2{
  display:none;
  align-self: center;
  width: 2rem;
  height: 2rem;
}
#buttonForm{
  background-color: #222222;
  font-weight: bold;
  color: white;
  border:none;
  font-size: 1rem;
  padding:0 1rem ;
}

.formItem{
  border-radius: 2rem;  
}
#containerForm{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: black;
}
input{
  height: 2rem;
}
textarea{
  text-align: center;
  border-radius: 2rem;  
}

/********BARRE DE NAVIGATION********/
header{
  font-weight: bold;
  padding:2rem 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
  color: white;
  background-color: black;

}


.button {
  display: inline-block;
  text-align: center;
  background-color: #1a1e24;
  color: var(--bg);
  font-weight: bold;
  padding: 1.18em 1.32em 1.03em;
  line-height: 1;
  border-radius: 1em;
  position: relative;
  min-width: 8.23em;
  text-decoration: none;
  font-family:'Roboto', sans-serif;
  font-size: 1.25rem;
  z-index: 1;

}

#responsiveHeader img{
  width: 3rem;
  height: 3rem;
  margin: 1rem;
  position: fixed;
  background-color: white;
}
#menu{
  background-color: white;
  border:solid 2px black;
  height: 7rem;
  width: 5rem;
  display: none;
  flex-direction: column;
  width: fit-content;
  height: fit-content;
  position: fixed;
  padding:0 2rem;
  top: 5rem;
  font-weight: bold;
  z-index: 2;
}
.animationBurgerMenu {
  animation-duration: 0.8s;
  animation-name: glissement;
  animation-iteration-count: 1;
}
.start {
  animation-direction: normal;
}
.end {
  animation-direction: reverse;
}

@keyframes glissement {
  from {
    left: -35%;
  }

  to {
    left: 2rem;
  }
}

#responsiveHeader{  
  display: none;
}
.burgerMenuItem{
  padding: 1rem;
}
.burgerMenuItem>a{
  color: black;
  font-size: 1.5rem;
  text-decoration: underline;
  text-decoration-color: black;
}


/***************RESPONSIVE*************/
@media screen and (max-width: 1667px) {
  *{
      overflow-x: hidden;
  }
  #responsiveHeader{
    display: flex;
    margin-bottom: 5rem;
  }
  header{
    display: none;
  }
  #titreResponsive{
    display: flex;
    margin-bottom: 2rem;
  }
}